

<mat-card>
  <b> <span>Imputer l'analyse à un docteur</span> </b>
</mat-card>
<hr>
<mat-card>
  <mat-form-field appearance="fill" >
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>
<hr>
<div class="responsive_table">
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
       <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{element.nom}}</td>
       </ng-container>
       <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef>Prenom</th>
        <td mat-cell *matCellDef="let element">{{element.prenom}}</td>
       </ng-container>
       <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef>Telephone</th>
        <td mat-cell *matCellDef="let element">{{element.telephone}}</td>
       </ng-container>
       <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
       </ng-container>
       <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">{{element.roles[0]?.name | uppercase }} </td>
       </ng-container>
       <ng-container matColumnDef="hopital">
        <th mat-header-cell *matHeaderCellDef>Hopital</th>
        <td mat-cell *matCellDef="let element">{{element.hopital?.hop_name | uppercase }} </td>
       </ng-container>
       <ng-container matColumnDef="imputer">
        <th mat-header-cell *matHeaderCellDef>Imputer</th>
        <td mat-cell *matCellDef="let element" class="action-link" >
<!--           <mat-slide-toggle (change)="onChange($event.checked,element.id)" matTooltip="Imputer" [checked]="element.isActive" ></mat-slide-toggle>
 -->   <button mat-icon-button color="warn" matTooltip="Modifier" (click)="addImpute(element.id)" >
            <mat-icon>add</mat-icon>
</button>
</td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayColumns;sticky:true"></tr>
       <tr mat-row *matRowDef="let row;columns:displayColumns"></tr>
       <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
   </table>
</div>
