
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title-center">Changer votre Mot de passe</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="changePasswordForm" >
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill"  fxFlex >
        <mat-label>Ancien mot de passe</mat-label>
        <input matInput formControlName="oldPassword" type="password"  required>
        <mat-error *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
          <span *ngIf="changePasswordForm.controls.oldPassword.errors.required" >This field is mandatory</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill"  fxFlex >
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput formControlName="newPassword" type="password" required>
        <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
          <span *ngIf="changePasswordForm.controls.newPassword.errors.required" >This field is mandatory</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill"  fxFlex >
        <mat-label>Confirmer votre mot de passe</mat-label>
        <input matInput formControlName="confirmPassword" type="password"  required>
        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
          <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required" >This field is mandatory</span>
        </mat-error>
        <mat-hint *ngIf="validateSubmit() && !(changePasswordForm.controls.confirmPassword.invalid)">
          <span>Les deux mots de passe ne correspondent pas</span>
        </mat-hint>
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button class="btn" type="submit"
  (click)="handleChangePasswordSubmit()" [disabled]="validateSubmit() || !(changePasswordForm.dirty && changePasswordForm.valid)" >Valider</button>
  <button mat-raised-button class="btn" mat-dialog-close>Fermer</button>
</mat-dialog-actions>
