<mat-card>
  <b> <span>Gestion des hopitaux</span> </b>
  <button mat-flat-button  class="float-right" (click)="handleAddHopital()" >Ajouter un hopital</button>
</mat-card>
<hr>
<mat-card>
  <mat-form-field appearance="fill" >
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>
<hr>

<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
       <th mat-header-cell *matHeaderCellDef>Nom</th>
       <td mat-cell *matCellDef="let element">{{element.hop_name}}</td>
      </ng-container>

      <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef>Adresse</th>
        <td mat-cell *matCellDef="let element">{{element.hop_adresse}}</td>
       </ng-container>

      <ng-container matColumnDef="contact">
       <th mat-header-cell *matHeaderCellDef>Contact</th>
       <td mat-cell *matCellDef="let element">{{element.hop_numeroContact}}</td>
      </ng-container>

      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef>Prix</th>
        <td mat-cell *matCellDef="let element">{{element.hop_prix}}</td>
       </ng-container>

      <ng-container matColumnDef="action">
       <th mat-header-cell *matHeaderCellDef>Action</th>
       <td mat-cell *matCellDef="let element" class="action-link" >
         <button mat-icon-button color="btn" matTooltip="Modifier" (click)="handleEditHopital(element)" >
           <mat-icon>edit</mat-icon>
         </button>
         <button mat-icon-button color="warn" matTooltip="Supprimer" (click)="handleDeleteHopital(element)" >
           <mat-icon>delete</mat-icon>
         </button>
<!--          <mat-slide-toggle (change)="onChange($event.checked,element.id)" matTooltip="Activer ou desactiver" [checked]="element.status" ></mat-slide-toggle>
 -->       </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns;sticky:true"></tr>
      <tr mat-row *matRowDef="let row;columns:displayColumns"></tr>
  </table>
</div>

