

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title-center">{{dialogData.action}} Utilisateur </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
<form [formGroup]="userForm" >
  <div fxFlex fxLayout="column">
    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf="userForm.controls.username.touched && userForm.controls.username.invalid">
        <span *ngIf="userForm.controls.username.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Nom</mat-label>
      <input matInput formControlName="nom" required>
      <mat-error *ngIf="userForm.controls.nom.touched && userForm.controls.nom.invalid">
        <span *ngIf="userForm.controls.nom.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Prenom</mat-label>
      <input matInput formControlName="prenom" required>
      <mat-error *ngIf="userForm.controls.prenom.touched && userForm.controls.prenom.invalid">
        <span *ngIf="userForm.controls.prenom.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"  required>
      <mat-error *ngIf="userForm.controls.email.touched && userForm.controls.email.invalid">
        <span *ngIf="userForm.controls.email.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

     <mat-form-field *ngIf="role === 'ROLE_SUPER_ADMIN' " appearance="fill"  fxFlex >
      <mat-label>Role</mat-label>
      <mat-select formControlName="roles"  (selectionChange)="onChange($event.value)">
          <mat-option *ngFor="let role of userRoles" [value]="role.id"> {{role.name}} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="role == 'ROLE_ADMIN' " appearance="fill"  fxFlex >
      <mat-label>Role</mat-label>
      <mat-select formControlName="roles"  (selectionChange)="onChange($event.value)">
        <mat-option  [value]="1"> docteur </mat-option>
        <mat-option  [value]="2"> secretaire </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Hopital</mat-label>
      <mat-select formControlName="hopitalId">
          <mat-option *ngFor="let hopital of hospitals" [value]="hopital.id"> {{hopital?.hop_name}} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required>
      <mat-error *ngIf="userForm.controls.password.touched && userForm.controls.password.invalid">
        <span *ngIf="userForm.controls.password.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Adresse</mat-label>
      <input matInput formControlName="adresse">
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-form-field">
      <mat-label>Date de naissance</mat-label>
      <input matInput formControlName="dateNaissance" [matDatepicker]="datepicker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Annuler</button>
          <button mat-raised-button color="primary" matDatepickerApply>Choisir</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Telephone</mat-label>
      <input matInput formControlName="telephone"  required>
      <mat-error *ngIf="userForm.controls.telephone.touched && userForm.controls.telephone.invalid">
        <span *ngIf="userForm.controls.telephone.errors.required" >This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"  fxFlex >
      <mat-label>Telephone 2</mat-label>
      <input matInput formControlName="telephone2">
    </mat-form-field>

  </div>
</form>
</mat-dialog-content>

<mat-dialog-actions align="center">
<button mat-raised-button class="btn" type="submit"
(click)="handleUserSubmit()" [disabled]="!(userForm.dirty && userForm.valid) && !userForm.value.username" >{{action}}</button>
<button mat-raised-button class="btn" mat-dialog-close>Fermer</button>
</mat-dialog-actions>
