.float-right {
  float: right;

  color: var(--secondary-color);
  background-color: var(--primary-color);
}

mat-card {
   padding: 20px;
}

table {
  width: 100%;
}


.btn{
  background: var(--primary-color);
}

.is-red{
  background:#fee103;
}

.is-green{
  background:#026467;
}
